@use 'var';

.about {
    padding-top: 5vh;
        
    h2 {
        color: var.$textColor;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        font-weight: bold;
        font-style: italic;
    }

    h3 {
        text-align: center;
        color: var.$darkTextColor;
    }

    .contents {
        display: flex;
        align-items: center;
        padding-bottom: 50px;

        
        

        img {
            max-width: 350px;
            max-height: 350px;
            border-radius: 10px;
        }

        p {
            margin-left: 15px;
            color: var.$textColor;
        }
    }
    .inverted {
        flex-direction: row-reverse;
        align-items: center;

        img {
            height: 350px;
            width: 350px;
        }

        p {
            margin-right: 15px;
        }
    }

    @media (max-width: 1023px) {
        .contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width:767px) {

        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 16px;
        }

        .contents {
            p {
               margin-left: 0;
            }

            img {
                width: 250px;
            }
        }
    }
}