@use 'var';

.books {
    
    h2 {
        color: var.$textColor;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        font-weight: bold;
        font-style: italic;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        &__book {
            img {
                width: 250px;
                height: 350px;
                border-radius: 10px;
                justify-content: center;
            }

            h3 {
                color: var.$darkTextColor;
                font-size: 20px;
                font-weight: bolder;
            }

            p {
                color: var.$darkTextColor;
                font-weight: bold;
            }

            span {
                color: var.$textColor;
            }

            &__link {
                display: flex;
                align-items: center;
                text-align: center;

                img {
                    height: 40px;
                    width: 100px;
                    margin-left: 10px;

                    &:hover {
                        filter: brightness(110%);
                        width: 105px;
                        height: 45px;
                    }
                }

                p {
                    padding-top: 15px;
                }
            }
        }
    }

    @media (max-width:1023px) {
        &__list {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            align-items: center;

            &__book {
                img {
                    width: 100%;
                }
            }
        }

        margin-bottom: 10px;
    }

    @media (max-width:767px) {
        padding: 12px;
        &__list {
            grid-template-columns: 1fr;
        }
    }
}