@use 'var';

.header {
    padding: 15px;
    background-color: var.$lightBlue;
    color: var.$darkGolden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var.$Darkblue;
    border-radius: 10px;
    position: sticky;
    background-color: darkred;

    &__branding {
        display: flex;
        align-items: center;
        
        &__logo {
            width: 60px;
            padding-right: 10px;
        }

        &__title {
            font-style: italic;
            font-weight: bolder;
        }
    }
    
    &__menu {
        display: flex;
        
        &__items {
            padding-left: 5px;

            &__item {
                color: var.$darkGolden;
                font-weight: bolder;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    filter: brightness(150%);
                    font-size: 105%;
                }
            }
        }
    }
    
    @media (max-width:767px) {
        flex-direction: column;
            text-align: center;
        &__branding {
            
            &__logo {
                width: 50px;
                height: 40px;
            }

            &__title {
                font-size: 25px;
                text-wrap: nowrap;
            }
        }
    }
}