@use 'var';

.movies {
    min-height: 100vh;
    padding-top: 10vh;

    background: radial-gradient(circle at center, var.$secondColor, var.$backgroundColor);

    &__contents {
        
        &__content {
            color: var.$textColor;

            h2 {
              font-size: 40px;
              text-align: center;
              text-transform: uppercase;
              margin-bottom: 60px;
              font-weight: bolder;
            }

            &__title {
              color: var.$darkGolden;
              font-size: 30px;
              font-weight: bolder;
              font-style: italic;

            }

            &__img {
                border-radius: 10px;
                
            }

            &__sinopse {
              margin-top: 20px;
              font-weight: bold;
            }
            
            &__info {
              padding-left: 0;
              
              li {
                display: flex;

                p {
                  color: var.$darkGolden;
                  font-weight: bolder;

                  span {
                    color: #fff;
                    margin-left: 10px;
                    font-weight: bold;
                  }
                }

                img {
                  max-width: 100px;
                  border-radius: 50px;
                  margin-left: 10px;
                }

                img:hover {
                  filter: brightness(150%);
                  max-width: 105px;
                }


              }
            }
        }
    }

    
}